<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>Beenie</p>
            <p><a href="mailto:pyb8527@gmail.com">pyb8527@gmail.com</a></p>
            <p><time datetime="2023-11-11T00:00:00">2023-11-11</time> </p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글 쓰기"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2023-11-11</small></time>
                            <strong>Beenie</strong>
                            <p>
                                This is a Test Page
                                I'll be made sucessful Page
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2023-11-11</small></time>
                            <strong>Beenie</strong>
                            <p>
                                This is a Test Page
                                I'll be made sucessful Page
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer id="footer"></footer>

</body>
</html>